.sui-AtomInput-input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: #ffffff;
    border: 1px solid #cccccc;
    box-sizing: border-box;
    color: initial;
    font-family: inherit;
    font-size: 16px;
    padding-left: 8px;
    padding-right: 8px;
    width: 100%;
    border-radius: 4px;
    min-height: auto;
    text-overflow: unset;
  }
  .sui-AtomInput-input--charsSize {
    width: inherit;
  }
  .sui-AtomInput-input--hidden {
    display: none;
  }
  .sui-AtomInput-input--readOnly {
    background: #ffffff;
    border: 1px solid #cccccc;
    color: initial;
  }
  .sui-AtomInput-input > *,
  .sui-AtomInput-input .sui-AtomInput-input {
    border-radius: 0;
  }
  .sui-AtomInput-input > *:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  .sui-AtomInput-input > *:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  .sui-AtomInput-input.sui-AtomInput-input-shape-square {
    border-radius: 0;
  }
  .sui-AtomInput-input.sui-AtomInput-input-shape-square > *,
  .sui-AtomInput-input.sui-AtomInput-input-shape-square .sui-AtomInput-input {
    border-radius: 0;
  }
  .sui-AtomInput-input.sui-AtomInput-input-shape-square > *:first-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .sui-AtomInput-input.sui-AtomInput-input-shape-square > *:last-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .sui-AtomInput-input.sui-AtomInput-input-shape-rounded {
    border-radius: 4px;
  }
  .sui-AtomInput-input.sui-AtomInput-input-shape-rounded > *,
  .sui-AtomInput-input.sui-AtomInput-input-shape-rounded .sui-AtomInput-input {
    border-radius: 0;
  }
  .sui-AtomInput-input.sui-AtomInput-input-shape-rounded > *:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  .sui-AtomInput-input.sui-AtomInput-input-shape-rounded > *:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  .sui-AtomInput-input.sui-AtomInput-input-shape-circle > *,
  .sui-AtomInput-input.sui-AtomInput-input-shape-circle .sui-AtomInput-input {
    border-radius: 0;
  }
  .sui-AtomInput-input.sui-AtomInput-input-shape-circle.sui-AtomInput-input-shape-circle.sui-AtomInput-input-size-xl {
    border-radius: 28px;
  }
  .sui-AtomInput-input.sui-AtomInput-input-shape-circle.sui-AtomInput-input-shape-circle.sui-AtomInput-input-size-xl > *,
  .sui-AtomInput-input.sui-AtomInput-input-shape-circle.sui-AtomInput-input-shape-circle.sui-AtomInput-input-size-xl .sui-AtomInput-input {
    border-radius: 0;
  }
  .sui-AtomInput-input.sui-AtomInput-input-shape-circle.sui-AtomInput-input-shape-circle.sui-AtomInput-input-size-xl > *:first-child {
    border-top-left-radius: 28px;
    border-bottom-left-radius: 28px;
  }
  .sui-AtomInput-input.sui-AtomInput-input-shape-circle.sui-AtomInput-input-shape-circle.sui-AtomInput-input-size-xl > *:last-child {
    border-top-right-radius: 28px;
    border-bottom-right-radius: 28px;
  }
  .sui-AtomInput-input.sui-AtomInput-input-shape-circle.sui-AtomInput-input-shape-circle.sui-AtomInput-input-size-l {
    border-radius: 24px;
  }
  .sui-AtomInput-input.sui-AtomInput-input-shape-circle.sui-AtomInput-input-shape-circle.sui-AtomInput-input-size-l > *,
  .sui-AtomInput-input.sui-AtomInput-input-shape-circle.sui-AtomInput-input-shape-circle.sui-AtomInput-input-size-l .sui-AtomInput-input {
    border-radius: 0;
  }
  .sui-AtomInput-input.sui-AtomInput-input-shape-circle.sui-AtomInput-input-shape-circle.sui-AtomInput-input-size-l > *:first-child {
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
  }
  .sui-AtomInput-input.sui-AtomInput-input-shape-circle.sui-AtomInput-input-shape-circle.sui-AtomInput-input-size-l > *:last-child {
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
  }
  .sui-AtomInput-input.sui-AtomInput-input-shape-circle.sui-AtomInput-input-shape-circle.sui-AtomInput-input-size-m {
    border-radius: 20px;
  }
  .sui-AtomInput-input.sui-AtomInput-input-shape-circle.sui-AtomInput-input-shape-circle.sui-AtomInput-input-size-m > *,
  .sui-AtomInput-input.sui-AtomInput-input-shape-circle.sui-AtomInput-input-shape-circle.sui-AtomInput-input-size-m .sui-AtomInput-input {
    border-radius: 0;
  }
  .sui-AtomInput-input.sui-AtomInput-input-shape-circle.sui-AtomInput-input-shape-circle.sui-AtomInput-input-size-m > *:first-child {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  .sui-AtomInput-input.sui-AtomInput-input-shape-circle.sui-AtomInput-input-shape-circle.sui-AtomInput-input-size-m > *:last-child {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .sui-AtomInput-input.sui-AtomInput-input-shape-circle.sui-AtomInput-input-shape-circle.sui-AtomInput-input-size-xs {
    border-radius: 12px;
  }
  .sui-AtomInput-input.sui-AtomInput-input-shape-circle.sui-AtomInput-input-shape-circle.sui-AtomInput-input-size-xs > *,
  .sui-AtomInput-input.sui-AtomInput-input-shape-circle.sui-AtomInput-input-shape-circle.sui-AtomInput-input-size-xs .sui-AtomInput-input {
    border-radius: 0;
  }
  .sui-AtomInput-input.sui-AtomInput-input-shape-circle.sui-AtomInput-input-shape-circle.sui-AtomInput-input-size-xs > *:first-child {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
  }
  .sui-AtomInput-input.sui-AtomInput-input-shape-circle.sui-AtomInput-input-shape-circle.sui-AtomInput-input-size-xs > *:last-child {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
  }
  .sui-AtomInput-input.sui-AtomInput-input-shape-circle.sui-AtomInput-input-shape-circle.sui-AtomInput-input-size-s {
    border-radius: 16px;
  }
  .sui-AtomInput-input.sui-AtomInput-input-shape-circle.sui-AtomInput-input-shape-circle.sui-AtomInput-input-size-s > *,
  .sui-AtomInput-input.sui-AtomInput-input-shape-circle.sui-AtomInput-input-shape-circle.sui-AtomInput-input-size-s .sui-AtomInput-input {
    border-radius: 0;
  }
  .sui-AtomInput-input.sui-AtomInput-input-shape-circle.sui-AtomInput-input-shape-circle.sui-AtomInput-input-size-s > *:first-child {
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
  }
  .sui-AtomInput-input.sui-AtomInput-input-shape-circle.sui-AtomInput-input-shape-circle.sui-AtomInput-input-size-s > *:last-child {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
  }
  .sui-AtomInput-input.sui-AtomInput-input--noBorder, .sui-AtomInput-input.sui-AtomInput-input--noBorder:disabled {
    border: 0;
  }
  .sui-AtomInput-input.sui-AtomInput-input--noBorder:focus, .sui-AtomInput-input.sui-AtomInput-input--noBorder:disabled:focus {
    border: 0;
    box-shadow: none;
    outline: 0;
  }
  .sui-AtomInput-input::placeholder {
    color: #999999;
  }
  .sui-AtomInput-input:disabled {
    pointer-events: none;
  }
  .sui-AtomInput-input:disabled:not(.sui-AtomInput-input--readOnly) {
    -webkit-text-fill-color: #999999;
    background: #f1f1f1;
    border: 1px solid #cccccc;
    color: #999999;
  }
  .sui-AtomInput-input:focus {
    border: 1px solid #167db7;
    box-shadow: none;
    outline: 0 none;
  }
  .sui-AtomInput-input-size-xl {
    height: 56px;
    min-height: 56px;
  }
  .sui-AtomInput-input-size-l {
    height: 48px;
    min-height: 48px;
  }
  .sui-AtomInput-input-size-m {
    height: 40px;
    min-height: 40px;
  }
  .sui-AtomInput-input-size-xs {
    height: 24px;
    min-height: 24px;
  }
  .sui-AtomInput-input-size-s {
    height: 32px;
    min-height: 32px;
  }
  .sui-AtomInput-input.sui-AtomInput-input--success {
    border-color: #00a550;
  }
  .sui-AtomInput-input.sui-AtomInput-input--success:focus {
    box-shadow: 0 0 3px 0 #00a550;
  }
  .sui-AtomInput-input.sui-AtomInput-input--error {
    border-color: #d82626;
  }
  .sui-AtomInput-input.sui-AtomInput-input--error:focus {
    box-shadow: 0 0 3px 0 #d82626;
  }
  .sui-AtomInput-input.sui-AtomInput-input--alert {
    border-color: #f1c40f;
  }
  .sui-AtomInput-input.sui-AtomInput-input--alert:focus {
    box-shadow: 0 0 3px 0 #f1c40f;
  }
  .sui-AtomInput-input[type=number] {
    -moz-appearance: textfield;
  }
  .sui-AtomInput-input[type=number]::-webkit-outer-spin-button, .sui-AtomInput-input[type=number]::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }
  
  .sui-AtomInput--withAddon {
    align-items: center;
    background-color: #f1f1f1;
    border-color: #cccccc;
    border-style: solid;
    color: #cccccc;
    display: flex;
    flex-direction: column;
    height: inherit;
    justify-content: center;
    line-height: inherit;
    padding-left: 16px;
    padding-right: 16px;
  }
  .sui-AtomInput--withAddon--right {
    border-width: 1px 1px 1px 0;
  }
  .sui-AtomInput--withAddon--left {
    border-width: 1px 0 1px 1px;
  }
  .sui-AtomInput--withAddonWrapper {
    display: flex;
  }
  .sui-AtomInput--withAddonWrapper > *,
  .sui-AtomInput--withAddonWrapper .sui-AtomInput-input {
    border-radius: 0;
  }
  .sui-AtomInput--withAddonWrapper > *:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  .sui-AtomInput--withAddonWrapper > *:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  .sui-AtomInput--withAddonWrapper.sui-AtomInput--withAddonWrapper-shape-square {
    border-radius: 0;
  }
  .sui-AtomInput--withAddonWrapper.sui-AtomInput--withAddonWrapper-shape-square > *,
  .sui-AtomInput--withAddonWrapper.sui-AtomInput--withAddonWrapper-shape-square .sui-AtomInput-input {
    border-radius: 0;
  }
  .sui-AtomInput--withAddonWrapper.sui-AtomInput--withAddonWrapper-shape-square > *:first-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .sui-AtomInput--withAddonWrapper.sui-AtomInput--withAddonWrapper-shape-square > *:last-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .sui-AtomInput--withAddonWrapper.sui-AtomInput--withAddonWrapper-shape-rounded {
    border-radius: 4px;
  }
  .sui-AtomInput--withAddonWrapper.sui-AtomInput--withAddonWrapper-shape-rounded > *,
  .sui-AtomInput--withAddonWrapper.sui-AtomInput--withAddonWrapper-shape-rounded .sui-AtomInput-input {
    border-radius: 0;
  }
  .sui-AtomInput--withAddonWrapper.sui-AtomInput--withAddonWrapper-shape-rounded > *:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  .sui-AtomInput--withAddonWrapper.sui-AtomInput--withAddonWrapper-shape-rounded > *:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  .sui-AtomInput--withAddonWrapper.sui-AtomInput--withAddonWrapper-shape-circle > *,
  .sui-AtomInput--withAddonWrapper.sui-AtomInput--withAddonWrapper-shape-circle .sui-AtomInput-input {
    border-radius: 0;
  }
  .sui-AtomInput--withAddonWrapper.sui-AtomInput--withAddonWrapper-shape-circle.sui-AtomInput--withAddonWrapper-shape-circle.sui-AtomInput--withAddonWrapper-size-xl {
    border-radius: 28px;
  }
  .sui-AtomInput--withAddonWrapper.sui-AtomInput--withAddonWrapper-shape-circle.sui-AtomInput--withAddonWrapper-shape-circle.sui-AtomInput--withAddonWrapper-size-xl > *,
  .sui-AtomInput--withAddonWrapper.sui-AtomInput--withAddonWrapper-shape-circle.sui-AtomInput--withAddonWrapper-shape-circle.sui-AtomInput--withAddonWrapper-size-xl .sui-AtomInput-input {
    border-radius: 0;
  }
  .sui-AtomInput--withAddonWrapper.sui-AtomInput--withAddonWrapper-shape-circle.sui-AtomInput--withAddonWrapper-shape-circle.sui-AtomInput--withAddonWrapper-size-xl > *:first-child {
    border-top-left-radius: 28px;
    border-bottom-left-radius: 28px;
  }
  .sui-AtomInput--withAddonWrapper.sui-AtomInput--withAddonWrapper-shape-circle.sui-AtomInput--withAddonWrapper-shape-circle.sui-AtomInput--withAddonWrapper-size-xl > *:last-child {
    border-top-right-radius: 28px;
    border-bottom-right-radius: 28px;
  }
  .sui-AtomInput--withAddonWrapper.sui-AtomInput--withAddonWrapper-shape-circle.sui-AtomInput--withAddonWrapper-shape-circle.sui-AtomInput--withAddonWrapper-size-l {
    border-radius: 24px;
  }
  .sui-AtomInput--withAddonWrapper.sui-AtomInput--withAddonWrapper-shape-circle.sui-AtomInput--withAddonWrapper-shape-circle.sui-AtomInput--withAddonWrapper-size-l > *,
  .sui-AtomInput--withAddonWrapper.sui-AtomInput--withAddonWrapper-shape-circle.sui-AtomInput--withAddonWrapper-shape-circle.sui-AtomInput--withAddonWrapper-size-l .sui-AtomInput-input {
    border-radius: 0;
  }
  .sui-AtomInput--withAddonWrapper.sui-AtomInput--withAddonWrapper-shape-circle.sui-AtomInput--withAddonWrapper-shape-circle.sui-AtomInput--withAddonWrapper-size-l > *:first-child {
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
  }
  .sui-AtomInput--withAddonWrapper.sui-AtomInput--withAddonWrapper-shape-circle.sui-AtomInput--withAddonWrapper-shape-circle.sui-AtomInput--withAddonWrapper-size-l > *:last-child {
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
  }
  .sui-AtomInput--withAddonWrapper.sui-AtomInput--withAddonWrapper-shape-circle.sui-AtomInput--withAddonWrapper-shape-circle.sui-AtomInput--withAddonWrapper-size-m {
    border-radius: 20px;
  }
  .sui-AtomInput--withAddonWrapper.sui-AtomInput--withAddonWrapper-shape-circle.sui-AtomInput--withAddonWrapper-shape-circle.sui-AtomInput--withAddonWrapper-size-m > *,
  .sui-AtomInput--withAddonWrapper.sui-AtomInput--withAddonWrapper-shape-circle.sui-AtomInput--withAddonWrapper-shape-circle.sui-AtomInput--withAddonWrapper-size-m .sui-AtomInput-input {
    border-radius: 0;
  }
  .sui-AtomInput--withAddonWrapper.sui-AtomInput--withAddonWrapper-shape-circle.sui-AtomInput--withAddonWrapper-shape-circle.sui-AtomInput--withAddonWrapper-size-m > *:first-child {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  .sui-AtomInput--withAddonWrapper.sui-AtomInput--withAddonWrapper-shape-circle.sui-AtomInput--withAddonWrapper-shape-circle.sui-AtomInput--withAddonWrapper-size-m > *:last-child {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .sui-AtomInput--withAddonWrapper.sui-AtomInput--withAddonWrapper-shape-circle.sui-AtomInput--withAddonWrapper-shape-circle.sui-AtomInput--withAddonWrapper-size-xs {
    border-radius: 12px;
  }
  .sui-AtomInput--withAddonWrapper.sui-AtomInput--withAddonWrapper-shape-circle.sui-AtomInput--withAddonWrapper-shape-circle.sui-AtomInput--withAddonWrapper-size-xs > *,
  .sui-AtomInput--withAddonWrapper.sui-AtomInput--withAddonWrapper-shape-circle.sui-AtomInput--withAddonWrapper-shape-circle.sui-AtomInput--withAddonWrapper-size-xs .sui-AtomInput-input {
    border-radius: 0;
  }
  .sui-AtomInput--withAddonWrapper.sui-AtomInput--withAddonWrapper-shape-circle.sui-AtomInput--withAddonWrapper-shape-circle.sui-AtomInput--withAddonWrapper-size-xs > *:first-child {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
  }
  .sui-AtomInput--withAddonWrapper.sui-AtomInput--withAddonWrapper-shape-circle.sui-AtomInput--withAddonWrapper-shape-circle.sui-AtomInput--withAddonWrapper-size-xs > *:last-child {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
  }
  .sui-AtomInput--withAddonWrapper.sui-AtomInput--withAddonWrapper-shape-circle.sui-AtomInput--withAddonWrapper-shape-circle.sui-AtomInput--withAddonWrapper-size-s {
    border-radius: 16px;
  }
  .sui-AtomInput--withAddonWrapper.sui-AtomInput--withAddonWrapper-shape-circle.sui-AtomInput--withAddonWrapper-shape-circle.sui-AtomInput--withAddonWrapper-size-s > *,
  .sui-AtomInput--withAddonWrapper.sui-AtomInput--withAddonWrapper-shape-circle.sui-AtomInput--withAddonWrapper-shape-circle.sui-AtomInput--withAddonWrapper-size-s .sui-AtomInput-input {
    border-radius: 0;
  }
  .sui-AtomInput--withAddonWrapper.sui-AtomInput--withAddonWrapper-shape-circle.sui-AtomInput--withAddonWrapper-shape-circle.sui-AtomInput--withAddonWrapper-size-s > *:first-child {
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
  }
  .sui-AtomInput--withAddonWrapper.sui-AtomInput--withAddonWrapper-shape-circle.sui-AtomInput--withAddonWrapper-shape-circle.sui-AtomInput--withAddonWrapper-size-s > *:last-child {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
  }
  
  .sui-AtomInput--withIcon {
    position: relative;
    width: 100%;
  }
  .sui-AtomInput--withIcon--left .sui-AtomInput-input {
    padding-left: 44px;
  }
  .sui-AtomInput--withIcon--right .sui-AtomInput-input {
    padding-right: 44px;
  }
  .sui-AtomInput--withIcon-icon {
    align-items: center;
    color: #999999;
    display: flex;
    fill: #999999;
    height: 24px;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    pointer-events: none;
  }
  .sui-AtomInput--withIcon-icon--withHandler {
    cursor: pointer;
    pointer-events: auto;
  }
  .sui-AtomInput--withIcon-icon--left {
    left: 16px;
  }
  .sui-AtomInput--withIcon-icon--right {
    right: 16px;
  }
  .sui-AtomInput--withIcon-icon > * {
    height: 100%;
    width: 100%;
  }
  
  .sui-AtomInput--withButton {
    display: flex;
    width: 100%;
  }
  .sui-AtomInput--withButton-input {
    flex: 1;
    width: 100%;
  }
  .sui-AtomInput--withButton-button {
    margin-left: 8px;
  }
  
  .sui-AtomInput-input-password {
    position: relative;
    width: 100%;
  }
  .sui-AtomInput-input-password--toggleButton {
    color: #167db7;
    cursor: pointer;
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    user-select: none;
  }