.m-giant {
    margin: 48px;
  }
  
  .m-xxxl {
    margin: 40px;
  }
  
  .m-xxl {
    margin: 32px;
  }
  
  .m-xl {
    margin: 24px;
  }
  
  .m-l {
    margin: 16px;
  }
  
  .m-m {
    margin: 8px;
  }
  
  .m-s {
    margin: 4px;
  }
  
  .m-xs {
    margin: 2px;
  }
  
  .mt-giant {
    margin-top: 48px;
  }
  
  .mt-xxxl {
    margin-top: 40px;
  }
  
  .mt-xxl {
    margin-top: 32px;
  }
  
  .mt-xl {
    margin-top: 24px;
  }
  
  .mt-l {
    margin-top: 16px;
  }
  
  .mt-m {
    margin-top: 8px;
  }
  
  .mt-s {
    margin-top: 4px;
  }
  
  .mt-xs {
    margin-top: 2px;
  }
  
  .mr-giant {
    margin-right: 48px;
  }
  
  .mr-xxxl {
    margin-right: 40px;
  }
  
  .mr-xxl {
    margin-right: 32px;
  }
  
  .mr-xl {
    margin-right: 24px;
  }
  
  .mr-l {
    margin-right: 16px;
  }
  
  .mr-m {
    margin-right: 8px;
  }
  
  .mr-s {
    margin-right: 4px;
  }
  
  .mr-xs {
    margin-right: 2px;
  }
  
  .mb-giant {
    margin-bottom: 48px;
  }
  
  .mb-xxxl {
    margin-bottom: 40px;
  }
  
  .mb-xxl {
    margin-bottom: 32px;
  }
  
  .mb-xl {
    margin-bottom: 24px;
  }
  
  .mb-l {
    margin-bottom: 16px;
  }
  
  .mb-m {
    margin-bottom: 8px;
  }
  
  .mb-s {
    margin-bottom: 4px;
  }
  
  .mb-xs {
    margin-bottom: 2px;
  }
  
  .ml-giant {
    margin-left: 48px;
  }
  
  .ml-xxxl {
    margin-left: 40px;
  }
  
  .ml-xxl {
    margin-left: 32px;
  }
  
  .ml-xl {
    margin-left: 24px;
  }
  
  .ml-l {
    margin-left: 16px;
  }
  
  .ml-m {
    margin-left: 8px;
  }
  
  .ml-s {
    margin-left: 4px;
  }
  
  .ml-xs {
    margin-left: 2px;
  }
  
  .p-giant {
    padding: 48px;
  }
  
  .p-xxxl {
    padding: 40px;
  }
  
  .p-xxl {
    padding: 32px;
  }
  
  .p-xl {
    padding: 24px;
  }
  
  .p-l {
    padding: 16px;
  }
  
  .p-m {
    padding: 8px;
  }
  
  .p-s {
    padding: 4px;
  }
  
  .p-xs {
    padding: 2px;
  }
  
  .pt-giant {
    padding-top: 48px;
  }
  
  .pt-xxxl {
    padding-top: 40px;
  }
  
  .pt-xxl {
    padding-top: 32px;
  }
  
  .pt-xl {
    padding-top: 24px;
  }
  
  .pt-l {
    padding-top: 16px;
  }
  
  .pt-m {
    padding-top: 8px;
  }
  
  .pt-s {
    padding-top: 4px;
  }
  
  .pt-xs {
    padding-top: 2px;
  }
  
  .pr-giant {
    padding-right: 48px;
  }
  
  .pr-xxxl {
    padding-right: 40px;
  }
  
  .pr-xxl {
    padding-right: 32px;
  }
  
  .pr-xl {
    padding-right: 24px;
  }
  
  .pr-l {
    padding-right: 16px;
  }
  
  .pr-m {
    padding-right: 8px;
  }
  
  .pr-s {
    padding-right: 4px;
  }
  
  .pr-xs {
    padding-right: 2px;
  }
  
  .pb-giant {
    padding-bottom: 48px;
  }
  
  .pb-xxxl {
    padding-bottom: 40px;
  }
  
  .pb-xxl {
    padding-bottom: 32px;
  }
  
  .pb-xl {
    padding-bottom: 24px;
  }
  
  .pb-l {
    padding-bottom: 16px;
  }
  
  .pb-m {
    padding-bottom: 8px;
  }
  
  .pb-s {
    padding-bottom: 4px;
  }
  
  .pb-xs {
    padding-bottom: 2px;
  }
  
  .pl-giant {
    padding-left: 48px;
  }
  
  .pl-xxxl {
    padding-left: 40px;
  }
  
  .pl-xxl {
    padding-left: 32px;
  }
  
  .pl-xl {
    padding-left: 24px;
  }
  
  .pl-l {
    padding-left: 16px;
  }
  
  .pl-m {
    padding-left: 8px;
  }
  
  .pl-s {
    padding-left: 4px;
  }
  
  .pl-xs {
    padding-left: 2px;
  }
  
  @keyframes fade-out {
    0% {
      opacity: 1;
      max-height: 100%;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes move-up {
    0% {
      top: 100%;
    }
    100% {
      top: 0;
    }
  }
  /*------------------------------------*\
    Normalize
  \*------------------------------------*/
  :focus {
    outline: 0;
  }
  
  html,
  body,
  .app {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
  }
  
  body {
    background: whitesmoke;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    font-size: 16px;
    line-height: 1;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
  }
  
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section {
    display: block;
  }
  
  ol,
  ul {
    list-style: none;
  }
  
  blockquote,
  q {
    quotes: none;
  }
  
  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
    content: "";
    content: none;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  strong {
    font-weight: 700;
  }
  
  /*Prevent iOS text size adjust after orientation change, without disabling user zoom.*/
  html {
    -ms-text-size-adjust: 100%;
  }
  
  .sui-StudioPreview:before {
    background: rgba(0, 0, 0, 0.75);
    bottom: 10px;
    content: "THEME: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji @ 16px";
    color: #fff;
    font-family: "Lucida Console", Monaco, monospace;
    padding: 0.25em 0.5em;
    position: fixed;
  }
  
  .sui-StudioTable td,
  .sui-StudioTable th {
    vertical-align: baseline;
    padding: 8px;
  }

  @import "./ij-theme-button.scss";
  @import "./ij-theme-input.scss";